# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTest cache
.pytest_cache/

# Virtual environments
.venv/
venv/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
build/
dist/
*.egg-info/
